*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.container{
    border: 6px solid rgb(3, 51, 83);
    justify-content: center;
    align-items: center;
    
}
.containeri{
    border: 2px solid rgb(3, 51, 83);
    justify-content: center;
    align-items: center;
    background-color:#FFFF8B;
    
}