.btn{
    background-color: rgb(54, 152, 218);
    border: 2px solid rgb(1, 20, 37);
    font-weight: 600;
}
body{
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.container{
    overflow: auto;
    
    padding-top: 10%;
    border: 6px solid rgb(3, 51, 83);
    
    
}
.form-control{
    border: 2px solid rgb(3, 51, 83);
}
p{
    font-weight: 500;
}
.btn:hover{
    background-color:rgb(8, 189, 47);
    border: 2px solid black;
}
