*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container{
    border: 6px solid rgb(3, 51, 83);
    background-color: white;
    
}